@model PasswordChangeViewModel
@{
    ViewData["Title"] = "PasswordChange";
}


@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


<div class="row">
    <div class="col-md-6 offset-3 mb-2">
        
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
        </div>
        <form asp-controller="User" asp-action="PasswordChange" method="post">
            <div class="col-md-8 offset-md-4 mb-3"><h2>Password Change</h2></div>
            <div class="row mb-3">
                <label class="col-md-4 col-form-label" asp-for="OldPassword"></label>
                <div class="col-md-8">
                    <input asp-for=OldPassword class="form-control">
                    <span class="text-danger" asp-validation-for="OldPassword"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-4 col-form-label" asp-for="NewPassword"></label>
                <div class="col-md-8">
                    <input asp-for=NewPassword class="form-control">
                    <span class="text-danger" asp-validation-for="NewPassword"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-4 col-form-label" asp-for="NewPasswordConfirm"></label>
                <div class="col-md-8">
                    <input asp-for=NewPasswordConfirm class="form-control">
                    <span class="text-danger" asp-validation-for="NewPasswordConfirm"></span>
                </div>
            </div>
            <div class="row mb-3">

                <div class="col-md-8 offset-4">
                    <button type="submit" class="btn btn-outline-light-blue">Change Password</button>
                </div>
            </div>


        </form>
    </div>
</div>